

header{
	background-image: url(../assets/img/header-bg.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;


}



*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h3{
	font-family: 'Kaushan Script', cursive;
	color: #EEC705;
}

